<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                <add value="index.shtml" />
            </files>
        </defaultDocument>
        <directoryBrowse enabled="true" />
        <tracing>
            <traceFailedRequests>
                <add path="*">
                    <traceAreas>
                        <add provider="WWW Server" areas="Rewrite,RequestRouting" verbosity="Verbose" />
                    </traceAreas>
                    <failureDefinitions timeTaken="00:00:00" statusCodes="500" />
                </add>
            </traceFailedRequests>
        </tracing>
        <staticContent>
            <mimeMap fileExtension=".svc" mimeType="application/octet-stream" />
        </staticContent>
        <httpErrors errorMode="Detailed" />
    <rewrite>
    	<rules>
         <rule name="Redirect to https" enabled="true" patternSyntax="Wildcard" stopProcessing="true">
            <match url="*" negate="false" />
            <conditions logicalGrouping="MatchAny">
                <add input="{HTTPS}" pattern="off" />
            </conditions>
            <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" redirectType="Temporary" appendQueryString="false" />
        </rule>
       </rules>
   </rewrite>

    </system.webServer>            	
</configuration>
